# Web Framework
Django>=5.0,<5.1

# Database (PostgreSQL)
psycopg[binary]>=3.1.18

# Cache & Queue (Redis)
redis>=5.0.3

# Asynchronous Task (Celery)
celery>=5.3.6

# Load Testing
locust>=2.24.0

django-environ>=0.11.2
requests>=2.31.0
djangorestframework>=3.15.0
drf-spectacular>=0.27.1
djangorestframework-simplejwt>=5.3.1